.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
  padding: 30px;
}
.container h3{
  text-align: center;
  color: rgb(12, 190, 95);
}
.App {
  background-color:#ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 50px;
  border: 2px solid rgb(12, 190, 95);
  box-shadow: 10px 11px 109px -36px rgba(47,224,112,1);
}

.form-control{
  margin: 30px;
}

.form-control label{
  padding: 5px;
  
}
.form-control input{
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid rgb(12, 190, 95);
}

.form-control-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form-control-button button{
  width: 100%;
  border-radius: 30px;
  background-color: #ffffff;
  border: 1px solid rgb(12, 190, 95);
  color: rgb(12, 190, 95);
  padding: 15px;
  font-size: .9em;
  outline: none;
}
.form-control-button button:last-child{
  width: 75%;
}
.form-control-button button:hover{
  background-color: rgb(12, 190, 95);
  color: #ffffff;
  transition: all 0.5s;
}

.form-control input:focus{
  outline: none !important;
  border: 1.8px solid rgb(36, 148, 88);
  box-shadow: 0 0 10px #f2f2f2;
}

.message{
  margin:10px 5px;
  color: #f2f2f2;
  background-color: rgba(47,224,112,1);
  padding: 5px 10px;
  border-radius: 5px;
}